 .uploaded-videos-page {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    
     max-width: 800px;
   margin-left: 50px;
}

h1 {
    color: #333;
    text-align: center;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 4 videos per row */
     gap: 30px 130px;
    list-style-type: none;
    padding: 0;
}

button[name='backp']{
    position: absolute; /* Position the button relative to the .profile-page container */
     top: 20px; /* Distance from the top of the container */
     right: 20px; /*Distance from the right of the container */
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease; 
 }


button[name='backp']:hover {
    background-color: #0056b3;
}  
.uploaded-videos-page {
    text-align: center;
    margin: 20px;
  }
  
  
  
